main {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-block: 1.5rem;
  justify-content: center;

  & img {
    width: 17.875rem;
    height: 17.875rem;
  }
}

@media (width <= 425px) {
  main img {
    width: 100%;
    height: auto;
  }
}